<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdp.ddshop.dao.PageMapper">
    <sql id="Base_Column_List">
        i.id, i.title, i.sell_point AS sellPoint, format(i.price/100,3) AS priceView, i.num, barcode,
        i.image, i.cid, i.status,DATE_FORMAT(i.created,'%Y-%m-%d') AS  createTime,
        DATE_FORMAT(i.updated,'%Y-%m-%d') AS updateTime,
        c.name as catName
    </sql>


    <sql id="query">
        <where>
            i.status != 3
            <if test="query != null and query.title != null and query.title != ''">
                and i.title like '%${query.title}%'
            </if>
            <if test="query != null and query.status != null and query.status != 0">
                and i.status = #{query.status}
            </if>
        </where>

    </sql>
    <select id="countItems" resultType="int">
        select count(1)
        from tb_item i

        <include refid="query"></include>

    </select>

    <select id="listItemsByPage" resultType="com.zdp.ddshop.pojo.vo.TbItemCustom">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_item i
        LEFT JOIN tb_item_cat c
        ON i.cid = c.id

        <include refid="query"></include>

        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <foreach collection="order.orderParams" item="item" open=" ORDER BY" close="" separator=",">
                    i.${item}
                </foreach>
                ,CONVERT(i.title USING gbk)
            </when>
            <otherwise>
                ORDER BY i.id DESC
            </otherwise>
        </choose>
        LIMIT #{page.offset},#{page.rows}
    </select>

</mapper>